<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3 left-side">
    <%= render 'layouts/side' %>
  </div>
  <div class="col-md-9 right-side">
    <h1><%= @fd_type.name %></h1>
    <div class="col-md-12">
      <% @fooddrinks.each do |food| %>
          <div class="col-md-4">
            <%= link_to fooddrink_path(food.id) do %>
                <%= image_tag(food.file, class: "img-thumbnail cover") %>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <%= will_paginate @fooddrinks %>
    </div>
  </div>
</div>