
<link rel="stylesheet" href="//demo.neontheme.com/assets/css/bootstrap.css">
<link rel="stylesheet" href="//demo.neontheme.com/assets/css/neon-core.css">

<style>


.temp {
      background-color: #2b303a;
  list-style: none;
      padding: 0;
    margin-bottom: 20px;
    border-right: 1px solid black;
    box-sizing: border-box;
    
    position: relative;
    display: block;
    color: rgb(170, 171, 174);
   /*z-index: 2;*/
    padding: 10px 20px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    
   
}

.temp li a:hover{
   background-color: rgba(69, 74, 84, 0.3);
    color: #fff;
}

ul li {
   background-color: #2b303a;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  
  	height: auto; position: static; margin-bottom: 5px; width: 100%;
  line-height: 18px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.menu{
   color:#BB5501;
   font-family:cursive;
   font-size:48px;
   text-shadow:5px 2px #BB5501;
   letter-spacing: 5px;
}
</style>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3 left-side">
    <article class="menu">MENU</article><br>
    
    <div class="categories">
      
      <ul class="temp dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="font-size: 14px;">
       <h3 style="color:#669900;">DRINK</h3>
        <% @fd_types.each do |type| %>
        <% if type.foodtype=="drink" %>
        <li class="dropdown-submenu">
           <%= link_to fd_type_path(type.id) do %>
              <%= type.name %>
            <% end %>
          <ul class="dropdown-menu">
            
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
          </ul>
        </li>
        <% end %>
        <% end %>
      </ul>
      
      <ul class="temp dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="font-size: 14px;">
       <h3 style="color:#669900;">FOODS</h3>
        <% @fd_types.each do |type| %>
        <% if type.foodtype=="food" %>
        <li class="dropdown-submenu">
           <%= link_to fd_type_path(type.id) do %>
              <%= type.name %>
            <% end %>
          <ul class="dropdown-menu">
            
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
          </ul>
        </li>
        <% end %>
        <% end %>
      </ul>
      
    </div>
  </div>
  
  <div class="col-md-9 right-side">
    <% if @fd_type.name %>
   <div class="col-md-12">
      <% @fooddrinks.each do |food| %>
          <% if food.foodtype %>
            <div class="col-md-4">
              <%= link_to fooddrink_path(food.id) do %>
                <%= image_tag(food.file, class: "img-thumbnail cover") %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
    <% end %>
    
     <% if !@fd_type.name %>
    <div class="col-md-12">
      <% @fooddrinks.each do |drink| %>
        <% if !drink.foodtype %>
          <div class="col-md-4">
            <%= link_to fooddrink_path(drink.id) do %>
              <%= image_tag(drink.file, class: "img-thumbnail cover") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>