<link rel="stylesheet" href="//demo.neontheme.com/assets/css/bootstrap.css" >
<link rel="stylesheet" href="//demo.neontheme.com/assets/css/neon-core.css" >
<link rel="stylesheet" href="//demo.neontheme.com/assets/css/font-icons/entypo/css/entypo.css">

<div class="page-container sidebar-collapsed">
  <div class="col-md-3 left-side">
    <%= render 'layouts/side' %>
  </div>
  
  <div class="col-md-9 right-side">
    <h1><%= @fd_type.capitalize %> List</h1>
    <div class="col-md-12">
        <% @fdall.each do |fd| %>
            <div class="col-md-4">
                <%= link_to fooddrink_path(fd.id) do %>
                    <%= image_tag(fd.file, class: "img-thumbnail avatar") %>
                <% end %>
            </div>
            <!--<h4 class="div-co-name"></%= fd.name %></h4>-->
        <% end %>
        
    </div>
    <div class="col-md-6 col-md-offset-3">
        <%= will_paginate @fdall %>
    </div>
  </div>
</div>