<h1>Foods/Drinks</h1>
<table class="table table-bordered table-hover">
  <thead>
    <thead>
      <tr>
        <th>Name</th><th>Type</th><th>Created by</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @fooddrinks.each do |fooddrink| %>
    <tr>
        <td><%= link_to fooddrink.name, show_user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.roles.first.name if user.roles.first.presence %></td>
      <td>
        <%= form_tag("/admin/user/" + user.id.to_s, method: :PUT) do %>
            <%= submit_tag is_admin(user) %>
        <% end %>
        <%= button_to "Delete User", delete_user_path(user.id), data: { confirm: "Are you sure?" }, method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
