<%= form_for(@fooddrink, {multipart: true, html: {class: "form-horizontal"}}) do |f| %>
  <% if @fooddrink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fooddrink.errors.count, "error") %> prohibited this fooddrink from being saved:</h2>

      <ul>
      <% @fooddrink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Food/Drink name", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :address, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label "Type", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.label :foodtype, "Food", value: "true", class: 'radio-inline' %>
          <%= f.radio_button :foodtype, true, checked: true %>
          <%= f.label :foodtype, "Drink", value: "false", class: 'radio-inline' %>
          <%= f.radio_button :foodtype, false %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :price, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <div class="col-md-6">
            <%= f.number_field :price, class: "col-md-6 form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.select :price_unit, options_for_select(["vnd", "dollar", "euro", "yen"]), {}, {:class => "form-control"} %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label 'Food/Drink Image Upload', class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.file_field :file %>
          <%= f.hidden_field :file_cache %>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :review, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.text_area :review, class: "form-control", rows: 15 %>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="center">
    <div class="actions">
      <div class="col-md-2 col-md-offset-5">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
<% end %>