<%= form_for(@fooddrink, {multipart: true}) do |f| %>
  <% if @fooddrink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fooddrink.errors.count, "error") %> prohibited this fooddrink from being saved:</h2>

      <ul>
      <% @fooddrink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Food/Drink name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :foodtype %><br>
    <%= f.label :foodtype, "Food", value: "true", class: 'radio-inline' %>
    <%= f.radio_button :foodtype, true, checked: true %>
    <%= f.label :foodtype, "Drink", value: "false", class: 'radio-inline' %>
    <%= f.radio_button :foodtype, false %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
    <%= f.hidden_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
