<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 center">
    <%= image_tag(@fooddrink.file, class: "img-thumbnail large-cover") %>
  </div>

  <div class="col-md-8 ">
    <h3><%= @fooddrink.foodtype ? "Food" : "Drink" %>'s Information
      <% if user_signed_in? && @fooddrink.user_id == current_user.id %>
          <%= link_to 'Edit', edit_fooddrink_path(@fooddrink), class: "btn btn-primary" %>
      <% end %>
    </h3>
    <div class="description-box">
      <div>
        <%= rating_for @fooddrink, "overall", readonly: true, imdb_avg: true %>
        <% if user_signed_in? %>
          Your vote: <%= rating_for_user @fooddrink, current_user, "overall", disable_after_rate: false %>
        <% end %>
      </div>
      <div>
        <label><%= @fooddrink.foodtype ? "Food" : "Drink" %>'s name: </label>
        <%= @fooddrink.name %>
      </div>
      <div>
        <label>Place: </label>
        <%= @fooddrink.address %>
      </div>
      <div>
        <label>Price: </label>
        <%= @fooddrink.price %> <%= @fooddrink.price_unit %>
      </div>

      <% if @fooddrink.review.presence %>
          <div class="review">
            <label>Review</label><br/>
            <%= simple_format(@fooddrink.review) %>
          </div>
      <% end %>

    </div>

    <div class="right-align ft">
      <b><i>Created by <%= link_to @fooddrink.user.name, show_user_path(@fooddrink.user.id) %>
        at <%= @fooddrink.created_at %>.
      </i></b>
    </div>

  </div>
</div>

<div>
  <h3>Recommend</h3>
  <%= render 'fooddrinks/recommend.html.erb' %>
</div>

<div>
  <%= commontator_thread(@fooddrink) %>
</div>