<h1>Profile</h1>
<%= image_tag(@user.avatar_url, class: 'avatar') if @user.avatar? %>
Name: <%= @user.name %><br />
Email: <%= @user.email %><br />
Gender: 
<% if @user.gender %>
Male
<% else %>
Female
<% end %><br />
Contact Address: <%= @user.address %><br />
Hobbies: <%= @user.hobbies %><br />
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "Change Profile", edit_user_registration_path %>
<% end %>