<div class="center">
    <h1>
        <%= getname(@user, current_user) %> Profile
    </h1>
    <div class="row">
        <div class="col-md-4 left-side">
            <div class="col-md-10 pull-right">
                <div>
                    <%= image_tag(@user.avatar_url, class: 'avatar') if @user.avatar? %>
                </div>
                <h3><%= @user.name %></h3>
                Email: <%= @user.email %><br />
                Gender: 
                <% if @user.gender %>
                Male
                <% else %>
                Female
                <% end %><br />
                <% if @user.address.presence %>
                    Contact Address: <%= @user.address %><br />
                <% end %>
                <% if @user.hobbies.presence %>
                    Hobbies: <%= @user.hobbies %><br />
                <% end %>
                <% if user_signed_in? && current_user.id == @user.id %>
                <%= link_to "Change Profile", edit_user_registration_path,  {:style => 'color: blue;font-weight:bold;text-decoration: underline;'} %>
                <% end %>
            </div>
        </div>
        <div class="col-md-8 right-side">
            <h3><%= getname(@user, current_user) %> Reviews</h3>
            </br><%= render 'users/show_fooddrinks.html.erb' %>
        </div>
    </div>
</div>
</br></br>